@model IEnumerable<EmptyStock.Domain.Models.Stock.Request>

@{
    ViewData["Title"] = "Запросы";
}

<h1>Запросы</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Стоимость
            </th>
            <th>
               Количество
            </th>
            <th>
               Наименование продукта
            </th>
            <th>
               Цена продукта
            </th>
            <th>
               Создатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @item.Product.Price
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a class="link-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
