@model IEnumerable<EmptyStock.Domain.Models.Stock.ProductAction>

@{
    ViewData["Title"] = "Документы";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a class="btn btn-primary" asp-controller="Receipts" asp-action="Create">Создать новую поставку</a>
    <a class="btn btn-primary" asp-controller="Shipments" asp-action="Create">Создать новую отгрузку</a>
    <a class="btn btn-info">Сортировать по складам</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Измененное количества
            </th>
            <th>
                Продукт
            </th>
            <th>
                Затраты
            </th>
            <th>
                Создатель
            </th>
            <th>
                
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(pa => pa.CreationDate))
        {
            <tr>
                <td>
                    <div class="@(item.ChangeAmount > 0 ? "link-success" : "link-danger")">@item.ChangeAmount</div>
                </td>
                <td>
                    @item.Product.Name - @item.ProductId
                </td>
                <td>
                    <div class="@(item.ChangeAmount <= 0 ? "link-success" : "link-danger")">
                        @(item.Product.Price * -item.ChangeAmount)
                    </div>
                </td>
                <td>
                    @item.Creator.ShortName
                </td>
                <td>
                    <a asp-action="CreateBill" asp-route-id="@item.Id">Создать накладную</a>
                </td>
              
            </tr>
        }
    </tbody>
</table>
